# Build mode: dev | production
VITE_BUILD_MODE=dev

# API base URL
VITE_API_URL=http://localhost:3000/api

# Socket server URL
VITE_SOCKET_URL=http://localhost:3000

# AI Management URL
VITE_AI_MANAGEMENT_URL=http://localhost:3119/

# Website domain
VITE_WEBSITE_DOMAIN_DEVELOPMENT=http://localhost:5173
VITE_WEBSITE_DOMAIN_PRODUCTION=https://heritage.thuandev.id.vn
